.gradientHorizontalNav {
    background: linear-gradient(to right, #0DE5A8FF, #000000)
}

.gradientHorizontalButton {
    background: linear-gradient(to right, #14c3a2, #7cf49a);
    border-radius: 12px;
}

.greenText {
    color: #0DE5A8FF;
}

.days-one-regular {
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
